{% load static %}

<footer id="contact">
        <div class="container-fluid bg-dark text-light mt-5 pt-5">
            <div class="container py-5">
                <div class="row">
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <h6>Contact Us</h6>
                        <p class="font-weight-light">b.kochnev@acg.edu</p>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <h6>Follow Us</h6>
                        <p class="font-weight-light">
                            <a href="#"><img src="{% static 'img/facebook.png' %}" alt="Facebook" class="img-fluid" style="width: auto; height: 30px; object-fit: scale-down;"></a>
                            <a href="#"><img src="{% static 'img/instagram.png' %}" alt="Instagram" class="img-fluid" style="width: auto; height: 30px; object-fit: scale-down;"></a>
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
<h5>
                            <img src="{% static 'img/logo.jpg' %}" width="30" height="30" alt="logo">
                            PC Hardware Store
                        </h5>
                        <p style="font-size: 12px">We are proud to provide quality content and product information to our users. Our PC hardware store may earn a commission for purchases made through our product links. This helps us maintain the website and provide high-quality content and services to our customers. We only promote products that we believe in and use ourselves. Thank you for supporting our business."</p>
                    </div>
                </div>
                <div class="container text-center py-3">
                <p style="font-size:12px">Copyright © 2023 All Rights Belong to the original Owners.</p>
                </div>
            </div>
        </div>
    </footer>